{% extends 'base.html' %}
{% block title %}HOMEPAGE : Django test project{% endblock %}
{% block content %}
    <a href="/blog/"><button class="btn btn-lg btn-info">Blog</button></a>
    <a href="/photo/"><button class="btn btn-lg btn-info">Gallery</button></a>
    <a href="/bookmarks/"><button class="btn btn-lg btn-info">Bookmarks</button></a>
    <img src="https://media.gettyimages.com/photos/trafalgar-square-with-big-ben-in-background-picture-id150388291" id="bg" alt="" style="z-index: -1;">
{% endblock %}